<div class="todos">
    <div class="row">
        <div class="col-sm-4">
            <mat-card class="formCard">
                <mat-card-header>
                    <mat-card-title>
                        <h2>Create Todo</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form (submit)="addTodo()" class="form">
                        <mat-form-field appearance="fill">
                            <mat-label>Title</mat-label>
                            <input matInput name="inputTitle" [(ngModel)]="inputTitle">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput name="inputDescription" [(ngModel)]="inputDescription">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" name="inputDueDate" [(ngModel)]="inputDueDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Tags</mat-label>
                            <input matInput name="inputTags" [(ngModel)]="inputTags">
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit"> Save Todo</button>
                    </form>
                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-sm-8">
            <mat-card class="todoCard">
                <thead class="todo todoCard">
                        <th class="title todoCard" (click)="sort('title')">Title<mat-icon>swap_vert</mat-icon></th>
                        <th class="description">Description</th>
                        <th class="duedate" (click)="sort('duedate')">Due-Date<mat-icon>swap_vert</mat-icon></th>
                        <th class="tags">Tags <input type="text" name="inputTagsSearch" placeholder="Search Tags"
                                class="" [(ngModel)]="inputTagsSearch" (ngModelChange)="search()" /></th>
                </thead>
                <tbody class="todo todoCard {{ (todo.completed ? 'done' : '') }}"
                    *ngFor="let todo of todos | orderBy: key: reverse">
                        <td class="title" name="title" (click)="toggleDone('i')">{{ todo.title }}</td>
                        <td class="description">{{ todo.description }}</td>
                        <td class="duedate">{{ todo.duedate }}</td>
                        <td class="tags">{{ todo.tags }}</td>
                        <button class="delete" (click)="deleteTodo(todo)">Remove</button>
                </tbody>
            </mat-card>
        </div>
    </div>


</div>